.first-screen {
  position: relative;
  padding-bottom: 414px;

  &::before {
    position: absolute;
    content: "";
    background: url("../../../../public/img/first-screen-diagram.png") no-repeat;
    background-size: contain;
    right: 0 - @mobile-padding;
    width: 272px;
    height: 272px;
    bottom: 78px;


    @media (min-width: @desktop-width) {
      width: 575px;
      height: 435px;
      right: 0 - @desktop-padding;
      top: 0;
      background-image: url("../../../../public/img/first-screen-diagram--desktop.png");
    }
  }

  &::after {
    position: absolute;
    content: "";

    @media (max-width: @max-telephone-width) {
      background: url("../../../../public/img/first-screen-bg-pattern.svg") no-repeat;
      background-position: top center;
      background-size: cover;
      left: 0 - @mobile-padding;
      width: 100vw;
      height: 100%;
      top: -150px;
      z-index: -2;
    }

    @media (min-width: @desktop-width) {
      background: url("../../../../public/img/mouse-icon.png") no-repeat;
      background-position: center center;
      background-size: cover;
      width: 17px;
      height: 29px;
      bottom: 143px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 290px;
  }
}

.first-screen-bg {
  position: absolute;
  top: 0;
  left: 0 - @mobile-padding;
  width: 100vw;
  height: 100%;

  @media (max-width: @max-telephone-width) {
    &::before {
      content: "";
      position: absolute;
      width: 321.54px;
      height: 190.77px;
      left: 30px;
      top: -205.21px;

      /* stylelint-disable-next-line number-max-precision */
      background: linear-gradient(180deg, rgba(0, 65, 218, 0.115) 0%, rgba(40, 0, 153, 0.115) 91.72%);
      filter: blur(100px);
      border-radius: 2.72px;
      transform: rotate(131.65deg);
    }

    &::after {
      content: "";
      position: absolute;
      width: 376px;
      height: 303px;
      left: -150px;
      top: -235.21px;
      z-index: 1;
      border-radius: 50%;

      /* stylelint-disable-next-line number-max-precision */
      background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.09) 0%, rgba(196, 196, 196, 0) 100%);
    }
  }
}

.first-screen-shadow-on-diagram {
  position: absolute;
  top: 0;
  left: 0 - @mobile-padding;
  width: 100vw;
  height: 100%;

  @media (max-width: @max-telephone-width) {
    &::before {
      content: "";
      position: absolute;
      width: 494px;
      height: 398px;
      right: -200px;
      bottom: 75px;

      background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.09) 0%, rgba(196, 196, 196, 0) 100%);
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    }

    &::after {
      content: "";
      position: absolute;
      width: 318px;
      height: 257px;
      right: -150px;
      bottom: 50px;

      background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.09) 0%, rgba(196, 196, 196, 0) 100%);
    }
  }
}

.first-screen__title {
  font-weight: 600;
  font-size: 52px;
  line-height: 61px;
  color: #ffffff;
  max-width: 375px;
  margin: 0 auto 20px auto;
  text-align: center;

  @media (min-width: @desktop-width) {
    margin: 32px 0;
    font-size: 96.38px;
    line-height: 90px;
    max-width: 720px;
    text-align: left;
  }
}

.first-screen__title-decor {
  background: linear-gradient(89.95deg, #487fff -1.65%, #73b5ff 51.06%, #cb76ff 99.96%);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.first-screen__text {
  max-width: 246px;
  margin: 0 auto;
  margin-bottom: 40px;

  @media (min-width: @desktop-width) {
    margin: 0 0 94px 0;
    font-size: 25.7px;
    line-height: 30px;
    max-width: 600px;
    text-align: left;
  }
}
