/* stylelint-disable max-nesting-depth */
.future-market-diagram {
  max-width: fit-content;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-right: 48px;
    display: flex;
    align-items: flex-end;
  }
}

.future-market-diagram__section {
  background: linear-gradient(158.71deg, rgba(48, 48, 48, 0.15) -100%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(14px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 28px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  width: 334px;
  position: relative;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

.future-market-diagram__block {
  background: #000000;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 130px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  box-sizing: border-box;

  position: absolute;

  @media (min-width: @desktop-width) {
    width: 162.25px;
    height: 52.28px;
    position: relative;
    padding: 0 10px;
  }

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(#908f93 0%, #5e5971 100%);
  }
}

.future-market-diagram__top-section {
  height: 180px;
  margin-bottom: 34px;
  padding: 20px 20px 24px 20px;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    width: 216.33px;
    height: 292.05px;
    padding: 40px 27px;
    margin-bottom: 0;
    margin-right: 19.84px;
  }

  .future-market-diagram__block {
    &:first-child {
      @media (max-width: @max-telephone-width) {
        left: 86px;
        top: 20px;
        width: 160px;

        &::before {
          height: 136px;
          width: 1px;
          bottom: -137px;
          right: 80px;
        }
      }

      @media (min-width: @desktop-width) {
        &::before {
          height: 1px;
          width: 23px;
          bottom: 25px;
          right: -24px;
        }
      }
    }

    &:nth-child(2) {
      @media (max-width: @max-telephone-width) {
        left: 20px;
        bottom: 24px;

        &::before {
          height: 23px;
          width: 1px;
          bottom: -24px;
          right: 64px;
        }
      }

      @media (min-width: @desktop-width) {
        order: 3;

        &::before {
          height: 1px;
          width: 23px;
          bottom: 25px;
          right: -24px;
        }
      }
    }

    &:nth-child(3) {
      @media (max-width: @max-telephone-width) {
        right: 20px;
        bottom: 24px;

        &::before {
          height: 23px;
          width: 1px;
          bottom: -24px;
          left: 64px;
        }
      }

      @media (min-width: @desktop-width) {
        order: 2;

        &::before {
          height: 1px;
          width: 47px;
          bottom: 25px;
          right: -47px;
        }
      }
    }
  }
}

.future-market-diagram__middle-section {
  padding: 24px 0 0 0;
  border: none;
  min-height: 58px;
  background: none;

  @media (min-width: @desktop-width) {
    width: 162.25px;
    height: 151.43px;
    padding: 0 0 0 15.32px;
    margin-bottom: 67px;
  }

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(#908f93 0%, #5e5971 100%);
    height: 1px;
    width: 164px;
    top: 0;
    left: 85px;

    @media (min-width: @desktop-width) {
      width: 1px;
      height: 100px;
      top: 26px;
      left: 0;
    }
  }

  .future-market-diagram__block {
    @media (max-width: @max-telephone-width) {
      width: 150px;
    }

    &:first-child {
      @media (max-width: @max-telephone-width) {
        left: 0;

        &::before {
          height: 24px;
          width: 1px;
          top: -25px;
          right: 65px;
        }
      }
    }

    &:nth-child(2) {
      @media (max-width: @max-telephone-width) {
        right: 0;

        &::before {
          height: 24px;
          width: 1px;
          top: -25px;
          left: 65px;
        }
      }
    }

    @media (min-width: @desktop-width) {
      &::before {
        height: 1px;
        width: 15.32px;
        left: -15.32px;
        top: 25px;
      }
    }
  }
}

.future-market-diagram__bottom-section {
  height: 276px;
  padding-top: 80px;
  box-sizing: border-box;
  margin-bottom: 174px;
  margin-top: 36px;

  @media (min-width: @desktop-width) {
    width: 265.91px;
    height: 379.49px;
    margin: 0;
    padding: 10px 30px 0 30px;
    margin-left: 33.35px;
    margin-bottom: 7px;
  }

  .future-market-diagram__block {
    @media (max-width: @max-telephone-width) {
      top: 24px;
    }

    &:first-child {
      @media (max-width: @max-telephone-width) {
        left: 20px;

        &::before {
          height: 60px;
          width: 1px;
          bottom: 59px;
        }
      }

      @media (min-width: @desktop-width) {
        margin-bottom: 45px;
      }
    }

    &:nth-child(2) {
      @media (max-width: @max-telephone-width) {
        right: 20px;

        &::before {
          height: 60px;
          width: 1px;
          bottom: 59px;
        }
      }
    }

    @media (min-width: @desktop-width) {
      min-height: 52px;
      margin: 0 auto;

      &::before {
        height: 1px;
        width: 85.93px;
        left: -85.93px;
        top: 25px;
      }
    }
  }
}

.future-market-diagram__img--triangle {
  width: 65px;
  height: 68px;
  margin: 0 auto;
  background: url("../../../../public/img/triangle.svg") no-repeat center center;
  background-size: cover;
  margin-bottom: 13px;

  @media (min-width: @desktop-width) {
    width: 65px;
    min-height: 70px;
    background-image: url("../../../../public/img/triangle--desktop.svg");
    background-size: auto;
    margin-bottom: 5px;
    order: -3;
  }
}

.future-market-diagram__text {
  margin: 0 auto;
  font-weight: 400;
  font-size: 14.42px;
  line-height: 138%;
  width: 227px;
  margin-bottom: 30px;

  @media (min-width: @desktop-width) {
    width: 204px;
    margin-bottom: 24px;
    order: -2;
  }
}

.future-market-diagram__img--arrow {
  margin-bottom: 13px;

  @media (min-width: @desktop-width) {
    margin-top: 15px;
    margin-bottom: 18px;
  }
}

.future-market-diagram__customers {
  @media (min-width: @desktop-width) {
    width: 204px;
    order: 0;
  }
}
