.future-market-diagram__section {
  background: linear-gradient(158.71deg, rgba(48, 48, 48, 0.15) -100%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(14px);
  border-radius: 26px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.future-market-diagram__top-section {
  width: 334px;
  height: 180px;
}
