.btn {
  border: 0;
  background: none;
  cursor: pointer;

  &--menu {
    width: 32px;
    height: 8px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-sizing: border-box;
  }
}
