.header-nav {
  transition: 0.6s;

  @media (max-width: @max-telephone-width) {
    margin-right: -70px;
    overflow: hidden;
    width: 0;
    height: 185px;
    margin-left: auto;

    &--closed {
      margin-right: -200px;
      height: 0;
      width: 0;
      transition: 0.6s;
    }

    &--opened {
      height: 185px;
      width: 100%;
      margin-right: 20px;
      transition: 0.6s;
    }
  }

  @media (min-width: @desktop-width) {
    width: fit-content;
  }
}

.header-nav__logo {
  font-weight: 500;
  font-size: 25px;
  margin: 0;
}

.header-nav__list {
  width: fit-content;
  display: flex;
  .list-none();
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header-nav__item {
  transition: transform 0.3s;

  &:not(:last-child) {
    @media (max-width: @max-telephone-width) {
      margin-bottom: 20px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 45px;
    }
  }
}

.header-nav__link {
  @media (max-width: @max-telephone-width) {
    text-transform: uppercase;
  }

  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #f3f3f3;
  transition: color 0.3s;
  font-weight: 400;

  &:hover {
    color: #4e4e4e;
    transition: color 0.3s;
  }

  &--career {
    @media (min-width: @desktop-width) {
      display: block;
      padding: 18px 43px 18px 43px;
      box-sizing: border-box;
      min-width: 170px;
      background: linear-gradient(140.6deg, #ffffff -27.18%, #dedede 126.06%);
      box-shadow: 0 0 49px rgba(42, 7, 254, 0.4);
      border-radius: 10px;

      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      text-align: left;
      text-transform: none;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        background: url("../../../../public/img/career-arrow.svg") no-repeat center center;
        right: 35px;
      }
    }
  }
}

.header-nav__mobile-menu-button {
  border: 0;
  background: none;
  width: 32px;
  height: 32px;
  margin-top: 5px;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    background: #ffffff;
    height: 1px;
    width: 100%;
    transition: transform 0.3s, width 0.3s;
  }

  &--closed {
    &::before {
      top: 8px;
    }

    &::after {
      bottom: 16px;
    }
  }

  &--opened {
    &::before {
      transform: rotate(-135deg);
      transition: transform 0.3s;
    }

    &::after {
      transform: rotate(135deg);
      transition: transform 0.3s;
    }
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
