.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  width: 0;
  margin-left: auto;
  margin-right: -70px;
  height: 185px;
  transition: 0.6s;

  &--closed {
    margin-right: -200px;
    height: 0;
    width: 0;
    transition: 0.6s;
  }

  &--opened {
    height: 185px;
    width: 100%;
    margin-right: 20px;
    transition: 0.6s;
  }
}

.header-nav__logo {
  font-weight: 500;
  font-size: 25px;
  margin: 0;
}

.header-nav__list {
  width: fit-content;
  display: flex;
  .list-none();
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.header-nav__item {
  transition: transform 0.3s;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.header-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  color: #f3f3f3;
  transition: color 0.3s;

  &:hover {
    color: #4e4e4e;
    transition: color 0.3s;
  }
}

.header-nav__mobile-menu-button {
  border: 0;
  background: none;
  width: 32px;
  height: 32px;
  margin-top: 5px;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    background: #ffffff;
    height: 1px;
    width: 100%;
    transition: transform 0.3s, width 0.3s;
  }

  &--closed {
    &::before {
      top: 8px;
    }

    &::after {
      bottom: 16px;
    }
  }

  &--opened {
    &::before {
      transform: rotate(-135deg);
      transition: transform 0.3s;
    }

    &::after {
      transform: rotate(135deg);
      transition: transform 0.3s;
    }
  }
}
