.page {
  height: 100%;
}

.page__body {
  padding: 0 0 50px 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  font-family: "Mazzard", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: @main-background-color;
  color: @main-text-color;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 1926px;
    width: 100vw;
    background: url("../../../../public/img/bg.svg"), no-repeat;
    top: 598px;
  }
}
